@using OrderApp.Models.DTO.Form
@model FormGetFilterResponseDTO

@{
    string dateTimeFormat = "yyyy-MM-dd HH:mm";
}
@functions {
    public async Task CreateOrderFilterDateTime(string label, string tag, string dateTimeValue)
    {
        <div class="row">
            <div class="col-4">
                <label for="@tag">@label:</label>
            </div>
            <div class="col-8">
                <input class="w-100" type="datetime-local" id="@tag" name="@tag" value="@dateTimeValue" />
            </div>
        </div>
    }

    public async Task CreateOrderFilterSelect<T>(string label, string tag, IEnumerable<T> options)
    {
        <div class="row">
            <div class="col-4">
                <label for="@tag" >@label:</label>
            </div>
            <div class="col-8">
                <select id="@tag" data-placeholder="@label" multiple class="chosen-select w-100" name="@tag">
                    @foreach (var option in options)
                    {
                        <option>@option</option>
                    }
                </select>
            </div>
        </div>
    }
}

<h4 class="display-6">Filters</h4>

<button id="submit-order-filter-button" class="w-100 mx-auto m-4">Submit filter</button>

<div class="container">
    @{
        await CreateOrderFilterDateTime("Start date", "order-start-date-filter", DateTime.UtcNow.AddMonths(-1).ToString(dateTimeFormat));
        await CreateOrderFilterDateTime("End date", "order-end-date-filter", DateTime.UtcNow.ToString(dateTimeFormat));

        await CreateOrderFilterSelect<string>("Order numbers", "order-number-filter", Model.OrderNumbers);
        await CreateOrderFilterSelect<string>("Order item names", "order-item-name-filter", Model.OrderItemNames);
        await CreateOrderFilterSelect<string>("Order item units", "order-item-unit-filter", Model.OrderItemUnits);
        await CreateOrderFilterSelect<string>("Provider names", "provider-name-filter", Model.ProviderNames);
    }
</div>