@using OrderApp.Models.DTO.Order
@model List<OrderItemGetResponseDTO>
@{
    string inputName = "OrderData.Items[0]";
}
<table cellpadding="0" cellspacing="0" class="grid" id="order-items-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Remove item</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td class="column-id d-none"><input type="text" name="@(inputName).id" value="@Model[i].Id" /></td>
                <td><input type="text" name="@(inputName).name" value="@Model[i].Name" /></td>
                <td><input type="text" name="@(inputName).quantity" value="@Model[i].Quantity" /></td>
                <td><input type="text" name="@(inputName).unit" value="@Model[i].Unit" /></td>
                <td class="column-remove">remove</td>
            </tr>
        }
    </tbody>
</table>